.sidebarOption {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: gray;
    margin-right: 50px;
}

.sidebarOption:hover,
.sidebarOption:hover > p,
.sidebarOption:hover > h3,
.sidebarOption--active,
.sidebarOption--active > p,
.sidebarOption--active > h3  {
    background-color: #fcecec ;
    color:#c04b37 ;
    font-weight: 800 !important;
}

.sidebarOption > p {
    display: none;
    font-size: 300;
    margin-left: 80px;
}

.sidebarOption > h1 {
    flex: 1;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
}

.sidebarOption:hover > p {
    display: inline;

}

.sidebarOption--active > p {
    display: inline !important;
} 

.sidebar__footer {
    display: flex;
    justify-content: center;
} 

.sidebar__footer {
    display: flex;
    justify-content: center;
} 